* {
    background: black;
    color: white;
    margin: 10px;
    font-size: 20px;
    font-family: monospace;
}

img {
    border-radius: 90%;
    margin: 50px;
    width: 600px;
    height: 600px;
}

h3 {
    color: red
}

h4 {
    color: green
}

.recipe {
    font-size: 30px;
    text-decoration: none;
    list-style: none;
}

a:hover {
    color: red
}

.title {
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 50px;
    text-align: center;
    color: red;
}

#recipecontainer {
    text-align: center;
}